*{
    margin: 0;
}
main{
    margin: ;
}

/* banner part */
.btn-primary{
    padding: 20px 40px;
    color: white;
    background-color: rgb(229, 49, 139);
    border-radius: 8px;
    border: none;
    margin-left:300px ;
}
.btn-sign{
    padding: 20px 40px;
    color: white;
    background-color: rgb(229, 49, 139);
    border-radius: 8px;
    border: none;
    margin-left:370px ;
}
.banner{
    background-color: #efe8ea;
    display: flex;
    align-items: center;
}
.banner-column{
    margin-left: 130px;
}
.banner-title{
font-size: 80px;
font-weight: 800;
padding: 40px;

}
.banner-description{
    color:#27272799;
    font-size: 18px;
    padding: 30px 50px;
    margin-right: 30px;
}

/* feature part */
.feature{
    text-align: center;
    margin: 200px 0px;
}
.feature-title{
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}
.feature-description{
    font-size: 18px;
    color:#27272799;
    padding-bottom: 80px;

}
.feature-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.feature-item-1 > img{
    
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 50px;
    padding: 60px 60px 0px;
    height: 500%;
    width: 200px;

}
.feature-item-2 > img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 60px 60px 85px;
    height: 50%;
    width: 200px;
}
.feature-item-3 > img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding-top: 50px;
    padding: 60px 60px 0px;
    height: 50%;
    width: 200px;
}
.feature-item-1, .feature-item-2,.feature-item-3 >p{
    text-decoration: underline;
}
/* hot deal part */
.span{
    color: rgb(243, 19, 131);
}
.hot-deal-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#f9f1f3 ;
    padding-top: 100px;
}
 
.hot-deal-title{
    font-size:30px ;
    font-weight: 700;
    padding-bottom: 20px;
    
}
.hot-deal-description{
    font-size: 18px;
    color: #27272799;
  padding-bottom: 20px;
}
/* instagram part */
.insta{
   margin-top: 100px;
    text-align: center;
    margin-bottom: 90px;
}
.insta-title{
    font-size: 30px;
    font-weight: 800;
}
.insta-description{
    font-size: 18px;
    color: #27272799;
  padding-bottom: 80px;
  padding-top: 20px;
}
.insta-container >img{
    height: 300px;
    width: 300px;
    padding-right: 24px;
}
/* latest part */
.latest{
background-image: url("../Rectangle\ 9.png");

background-position: center;
background-repeat: no-repeat;
padding: 100px 0px;
margin: 0px 250px;
margin-bottom: 100px;
}
.latest-title{
    font-size: 30px;
    font-weight: 800;
}
.latest-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;

}
 #input{
    text-align: center;
    padding: 20px 200px;
    border: none;
    margin-left: 100px;
    border-radius: 8px;
}
.btn{
    padding: 20px 40px;
    color: white;
    background-color: rgb(229, 49, 139);
    border-radius: 8px;
    border: none;
}
/* footer */
footer{
    background-color: black;
}
footer, h3,p{
    text-align: center;
    padding-bottom: 20px;
}
.footer-title{
    color: white;
    font-size: 30px;
    font-weight: 800;
    padding-top: 70px;
    
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    
}