*{
    margin: 0;
}
main{
    margin: ;
}

/* banner part */
.btn-primary{
    padding: 20px 40px;
    color: white;
    background-color: rgb(229, 49, 139);
    border-radius: 8px;
    border: none;
    margin-left:50px ;
}
.banner{
    background-color: #efe8ea;
    display: flex;
    align-items: center;
}
.banner-column{
    margin-left: 130px;
}
.banner-title{
font-size: 80px;
font-weight: 800;
padding: 40px;

}
.banner-description{
    color:#27272799;
    font-size: 14px;
    padding: 30px 50px;
    margin-right: 30px;
}

/* feature part */
.feature{
    text-align: center;
    margin: 200px 0px;
}
.feature-title{
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}
.feature-description{
    font-size: 14px;
    color:#27272799;
    padding-bottom: 80px;

}
.feature-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.feature-item-1 > img{
    
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 50px;
    padding: 60px 60px 0px;
    height: 500%;
    width: 200px;

}
.feature-item-2 > img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 60px 60px 85px;
    height: 50%;
    width: 200px;
}
.feature-item-3 > img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding-top: 50px;
    padding: 60px 60px 0px;
    height: 50%;
    width: 200px;
}
.feature-item-1, .feature-item-2,.feature-item-3 >p{
    text-decoration: underline;
}
/* hot deal part */
.span{
    color: rgb(243, 19, 131);
}
.hot-deal-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#f9f1f3 ;
    padding-top: 100px;
}
 
.hot-deal-title{
    font-size:30px ;
    font-weight: 700;
    padding-bottom: 20px;
    
}
.hot-deal-description{
    font-size: 14px;
    color: #27272799;
  padding-bottom: 20px;
}
/* instagram part */